CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
bin/*
libsyncdiffLib.a
bin
CPack*
conan.lock
.envrc
build
.vscode/
lib/
*.a
conan*info*
graph_info.json
